{% extends 'base.html' %}

{% block content %}
<h3>Active Issues Report</h3>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Book</th>
            <th>Issue Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in active_transactions %}
        <tr>
            <td>{{ transaction.user.username }}</td>
            <td>{{ transaction.book.title }}</td>
            <td>{{ transaction.issue_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
