{% extends 'base.html' %}

{% block content %}
<h3>Manage Memberships</h3>
<a href="{% url 'add_membership' %}" class="btn btn-primary">Add Membership</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>User</th>
            <th>Membership Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for membership in memberships %}
        <tr>
            <td>{{ membership.user.username }}</td>
            <td>{{ membership.membership_type }}</td>
            <td>{{ membership.start_date }}</td>
            <td>{{ membership.end_date }}</td>
            <td>
                <a href="{% url 'update_membership' membership.id %}" class="btn btn-sm btn-warning">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
