{% extends 'base.html' %}

{% block content %}
<h3>User Activity Report: {{ user.username }}</h3>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.book.title }}</td>
            <td>{{ transaction.issue_date }}</td>
            <td>{{ transaction.return_date }}</td>
            <td>{{ transaction.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
